.card-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #ffc0cb;
    padding: 10px;
    margin-top: 30px;
    border: solid #FFAFBD;
    margin: 0 10px;
}

img {
    width: 280px;
    height: 230px;
}

@media only screen and (max-width: 570px) {
    .card-container{
        height: auto;
    }
}